body {
  background-color: lightskyblue;
}

.city-container {
  margin-bottom: 10px;
  border-bottom: solid 2px rgb(188, 224, 255);
}

.wx-card {
  background-color: #eee;
  border-radius: 5px;
  margin: 0 1%;
  width: 18%;
}