body {
  background-color: lightskyblue;
}

.saveCurrentRow {
  margin-bottom: 7px;
}

.city-container {
  margin-bottom: 10px;
  border-bottom: solid 2px rgb(188, 224, 255);
}

.wx-card-5 {
  background-color: #eee;
  border-radius: 5px;
  margin: 0 1%;
  width: 18%;
}

.wx-card {
  background-color: #eee;
  border-radius: 5px;
  width: 29%;
  margin: 0 2.1% 2% 2.1%;
}